# Node
node_modules/
dist/
.pnpm-store/

# Go
packages/backend/tmp/
packages/backend/*.exe

# Backup files
# 数据库备份
backups/
scripts/backups/

# Environment
.env
.env.local
.env.*.local
auth/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Docker
.docker/
